* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}
.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}


.promo {
    background-blend-mode: darken;
    height: 800px;
    background-image: url(../img/bg/main_bg.png), url(../img/bg/rectangle.png);
    background-repeat: no-repeat, no-repeat;
    background-position: center center, center center;
    background-size: cover,cover;
    padding: 39px 0 62px 0;
}

.logo .logo_img {
    display: block;
    margin: 0 auto;
}

.logo .logo_text {
    color: #ffffff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 14px;
  
}

h1 {
    margin-top: 53px;
}

.title {
    color: #f0bf3b;
    font-size: 41px;
    font-weight: 900;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
}

.simple .title_big {
    color: #ffffff;
    font-family: "Roboto - Black";
    font-size: 80px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-top: 21px;

}

h2.title {
    margin-top: 30px;
}

.promo .promo_text {
    margin-top: 23px;
    padding: 0 13px;
    color: #ffffff;
    font-size: 21px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;

}

.promo .promo_text span {
    color: #f0bf3b;
    font-weight: 700;

}

.promo .promo_btn, .gift .gift_btn {
    display: block;
    margin: 0px auto;
    margin-top: 73px;
    width: 313px;
    height: 72px;
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.18);
    border: 4px solid rgba(0, 0, 0, 0.23);
    background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
    color: #ffffff;
    font-size: 21px;
    font-weight: 300; 
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
   
    
}

.more {
    margin-top: 73px;

}

.more .more_text {

    color: #ffffff;

    font-size: 15px;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
}

.more .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}


.waiting {
    min-height: 604px;
    background-color: #efefef;
    padding: 85px 0 75px;
}

.waiting .waiting_header, .finish .finish_header {
    color: #252525;
    
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}
.finish .finish_header {
    color: #fff;
}

.waiting .waiting_divider, .finish .finish_divider {
    width: 217px;
    height: 4px;
    background-color: #f9bf3b; 
    margin: 0 auto;
    margin-top: 18px;
}

.waiting .waiting_subheader {
    margin-top: 17px;
    color: #4a4a4a;
    
    font-size: 23px;
    font-weight: 400;
    text-align: center;
}

.waiting .waiting_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;

}

.waiting .waiting_wrapper .waiting_item {
    width: 339px;
    text-align: center;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
    width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr {
    margin-top: 33px;
    color: #4a4a4a;
    
    font-size: 15px;
    font-weight: 400;
    

}

.optimisation {
    min-height: 550px;
    padding: 102px 0 107px 0;
}

.optimisation .optimisation_header {
    margin-left: 391px;
    color: #299cbd;
    
    font-size: 29px;
    font-weight: 900;
    line-height: 12px;
    text-transform: uppercase;
}

.optimisation .optimisation_text {
    margin-top: 25px;
    margin-left: 391px;
    color: #4a4a4a;
    
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
}

.optimisation .optimisation_text span {
    
    font-weight: 700;
}

.optimisation .optimisation_img {
    position: absolute;
    top: -54px;
    left: -240px;
    z-index: -1;
}

.finish {
    min-height: 447px;
    padding: 89px 0 79px 0;
    background: url(../img/bg/third_bg.jpg) center center/cover no-repeat;
}

.finish .finish_wrapper {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.finish .finish_wrapper .finish_item {
    width: 204px;

}

.finish .finish_wrapper .finish_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 115px;
    height: 115px;
    background-color: #b4e2ff;
    border-radius: 100%;
}

.finish .finish_wrapper .finish_item .finish_descr {
    margin-top: 25px;
    text-align: center;
    color: #efefef;
    
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;

}

.gift {
    min-height: 628px;
    margin-top: 0;
    background-color: #efefef;
}

.gift .gift_img {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    
    min-height: 174px;

   
    padding-top: 86px;
}

.gift .gift_img img[alt="icon1"] {
    
    height: 113px;
}

.gift .gift_img img[alt="icon2"] {
    display: flex;
    align-self: flex-start;
    margin-left: 522px;
    
  
    height: 60px;

    }
.gift .gift_descr {
    margin: 42px 0 52px;
    text-align: center;
    color: black;
    
    font-size: 30px;
    font-weight: 400;
    line-height: 1.43;
    text-align: center;
}

.registration {
    min-height: 515px;
    
    
}

.registration .reg_img{
    min-height: 202px;
    display: flex;
    justify-content: center;
    align-items: center;
    

    
}

.registration .reg_img img[alt="reg_big"] {
    position: absolute;
    left: 400px;
    top: 15px;
    z-index: -1;
}

.registration .reg_descr1 {
    margin-top: 37px;

    font-weight: 400;
  font-size: 30px;
  line-height: 0.4;
  text-align: center;
  text-transform: uppercase;
  color: #252525;

}

.registration .reg_header {
    margin:auto;
    text-align: center;
    object-fit: contain;
    margin-top: 30px;
    font-size: 36px;
  font-weight: 900;
  text-transform: uppercase;
  color: #299cbd;
}

.registration .reg_descr2 {
    margin-top: 25px;

    font-weight: 400;
    font-size: 23px;
  line-height: 0.87;
  text-align: center;
  color: #4a4a4a;

}


.footer {
    min-height: 166px;
    background-color: #1a1a1a;
}
.footer .footer_descr {
    line-height: 0.8;
    padding-top: 61px;
    text-align: center;
    
  font-size: 15px;
  font-weight: 400;
  color: #888;
}

.footer .footer_descr span {
    text-decoration: underline;
}

.rest {
    min-height: 100px;
}